.header{

    text-align:center;
    padding:40px 20px;
    background:#f1f5f9;

}


.header h1{

    margin-bottom:15px;
    font-size:35px;
    color:#1e3a8a;

}


.header p{

    max-width:700px;
    margin:auto;
    font-size:18px;
    color:#475569;
    line-height:1.5;

}